 /**
  * Icons
  */
.icon > svg {
  display: inline-block;
  width: 16px;
  height: 16px;
  vertical-align: middle;
}

.icon > svg path {
  fill: $grey-color;
}

.page-title {
  text-shadow: 0 0 15px rgba(0,0,0,0.5);
}
